


.navbar-brand
{
  position: relative;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  
}
.container-fluid
{

  background-color: aquamarine;
}


body{
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
 
  bottom: 0%;
  width: 100%;
  height: fit-content;
  background-color:burlywood;
  margin-top: auto;
}
