h1 {
  background-color: coral;
  text-align: center;
}


.navbar-brand
{
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  
}
.container-fluid
{

  background-color: aquamarine;
}
body
{

  margin: 0%;
  padding: 0%;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
  background-color:burlywood;
  margin-top: auto;
}
